body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculator{
    font-family: sans-serif;
    background-color: rgb(43, 42, 42);
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(48, 47, 47);
    color: antiquewhite;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 30px;

}
button{
    width: 100px;
    height: 100px;
    border-radius: 5%;
    border: none;
    background-color: rgb(26, 25, 25);
    color: rgb(216, 221, 224);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(216, 218, 219);
}
button:active{
    background-color: rgb(251, 253, 255);
}